.analytics-container {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

.header {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.analytics-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.analytics-graph {
  flex-basis: 60%;
}

.analytics-image {
  flex-basis: 30%;
}

.analytics-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
